h2, h3 {
    margin: 5px 2px;
}

.etudes {
    list-style: none;
    padding: 0;
}

.etudes li {
}

.domains {
    list-style: none;
    padding: 0;
}

.domains li {

}

.details {
    display: none;
}
