h2, h3 {
    margin: 5px 2px;
}

.etude {
    padding: 15px 20px;
}

.details {
    display: none;
}

.btn-notify {
    position: absolute;
    top: 30px;
    right: 20px;
}

#recherche-etude {
    background: #333;
    box-shadow: none;
    padding: 27px 16px;
    font-size: 20px;
    color: #CCC;
}