h2 {
    text-indent: 10px;
    font-size: 25px;
}

.exercises {
    list-style: none;
    padding: 0;
}

.exercises > li {
    display: block;
    padding: 10px;
    border: 1px solid #DEDEDE;
    border-bottom: 0;
}

.exercises > li:first-child {
    border-radius: 5px 5px 0 0;
}

.exercises > li:last-child {
    border-bottom: 1px solid #DEDEDE;
    border-radius: 0 0 5px 5px;
}

.exercises li .title{
    font-size: 18px;
    margin: 0;
}

.exercises li .description {
    font-style: italic;
}


.exercises .tags li {
    font-size: 11px;
    display: inline-block;
    background: #EBE9E9;
    color: #636363;
    font-weight: bold;
    padding: 2px 4px;
    margin: 0px 0px;
    border-radius: 2px;
    border: none;
}

#search {
	display: inline;
}

#btnSearch {
    position:absolute;
    right : 10%;
}

.tagsmenu {
    font-size:12px;
    color : #606060;
    padding: 0;
    margin-top: 8px;
}

.coins {
    background: #EBEBEB;
    color: #3A3A3A;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    min-width: 60px;
    font-weight: lighter;

    display: block;
}

.exercises .coins {
    margin-top: 5px;
}

.coins .value {
    font-weight: bold;
}

.tags {
    padding: 0;
}

.pull-left {
    margin: 0px 8px 0px 0px;
}

.tag-icon {
    top: 3px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    text-indent: 22px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.selected {
    background-color: #F2F9FF;
}
