{% extends "base.html" %}

{% block style %}
<link href="/static/css/etudes.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}

  <div class="col-md-3">

    <h2>Filtres</h2>


    <div class="domains list-group">
      <input class="form-control list-group-item" id="recherche-etude" type="text" placeholder="Rechercher une étude"/>
      {% for domain in domains %}
      <a href="javascript:void(0)" class="domain list-group-item" data-domain="{{domain}}">
        {{domain}}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-9">

    <h2>Études</h2>

    <div class="etudes list-group">
    {% for etude in etudes %}
      <a href="javascript:void(0)" class="etude list-group-item" data-etude-id="{{etude.number}}">
        <h3 class="list-group-item-heading">{{etude.title}}</h3>

        <div class="details">
          <h4 class="domain">{{etude.domain}}</h4>
            <p class="list-group-item-text description">
              {{etude.description|safe}}
            </p>

            <button type="button" class="btn btn-success btn-notify">Cette offre m'intéresse !</button>

        </div>
      </a>
    {% endfor %}
    </div>

  </div>
{% endblock body %}


{% block javascript %}
<script src="/static/js/etudes.js"></script>
{% endblock %}
