<div class="header">
    <a href="/">
        <h1 class="sitename">ETIC intervenants</h1>
    </a>

    {% if user %}
        <span class="logout right-link">
            <a href="/logout"><span class="glyphicon glyphicon-remove"></span> Se déconnecter</a>
        </span>

        <span class="username right-link">
            {{user.name}}
        </span>
    {% else %}
        <span class="login right-link">
            <a href="/login"><span class="glyphicon glyphicon-user"></span> Connection</a>
        </span>

        <span class="login right-link">
            <a href="/signup"><span class="glyphicon glyphicon-pencil"></span> Inscription</a>
        </span>
    {% endif %}
</div>
