<div class="header">
    <a href="/">
        <h1 class="sitename"><img height="100px" src="/static/img/logo-etic.png"></h1>
    </a>

    {% if user %}
        <span class="btn logout right-link">
            <a href="/logout"><span class="glyphicon glyphicon-remove"></span> Se déconnecter</a>
        </span>

        <span class="btn login right-link">
            <a href="/etudes"><span class="glyphicon glyphicon-briefcase"></span> Études</a>
        </span>


        <span class="btn username right-link">
            <a href="/profile">{{user.name}} ({{user.department}})</a>
        </span>
    {% else %}
        <span class="btn login right-link">
            <a href="/login"><span class="glyphicon glyphicon-user"></span> Connexion</a>
        </span>

        <span class="btn login right-link">
            <a href="/signup"><span class="glyphicon glyphicon-pencil"></span> Inscription</a>
        </span>
    {% endif %}
</div>
