{% extends "base.html" %}

{% block style %}
<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}

<div id="index-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#index-carousel" data-slide-to="1"></li>
    <li data-target="#index-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/img/sample-carousel.png" alt="Sample ETIC carousel image">
      <div class="carousel-caption">
        Slide #1
      </div>
    </div>

    <div class="item">
      <img src="/static/img/sample-carousel.png" alt="Sample ETIC carousel image">
      <div class="carousel-caption">
        Slide #2
      </div>
    </div>

    <div class="item">
      <img src="/static/img/sample-carousel.png" alt="Sample ETIC carousel image">
      <div class="carousel-caption">
        Slide #3
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#index-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#index-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row container">

    <h1>Pourquoi être un intervenant ETIC ?</h1>

    <ul class="panels">
        <li class="list-group-item">
            <h2>Panel 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>

        <li class="list-group-item">
            <h2>Panel 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>

        <li class="list-group-item">
            <h2>Panel 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>
    </ul>

</div>
{% endblock body %}


{% block javascript %}
<!-- <script src="/static/js/index.js"></script>-->
{% endblock %}
